<div class="grid-table">
  <!-- Header -->
  <div class="grid-header">
    @for (col of config().columns; track col.key) {
    <div class="grid-cell header" [style.text-align]="mapAlign(col.align)">
      {{ col.label }}
    </div>
    }
  </div>

  <!-- Rows -->
  <div class="grid-body">
    @for (row of data(); track row['id'] ?? $index) {

    <div class="grid-row">
      @for (col of config().columns; track col.key) {

      <div class="grid-cell" [style.text-align]="mapAlign(col.align)">
        @switch (col.type) {

        <!-- @case ('date') {
                {{ formatDate(row[col.key]) }}
              }

              @case ('currency') {
                {{ formatCurrency(row[col.key]) }}
              } -->

        @case ('boolean') {
        <input type="checkbox" [checked]="row[col.key]" disabled />
        } @case ('link') {
        <a [href]="row[col.key]" target="_blank">
          {{ row[col.key] }}
        </a>
        } @case ('mask') {
        <span class="masked-cell" (click)="toggleReveal(row, col.key)">
          {{
            isRevealed(row, col.key) ? formatValue(row[col.key], col) : maskValue(row[col.key], col)
          }}
        </span>
        } @default {

        <span [class.col-type]="col.type">{{ row[col.key] }}</span>
        } }
      </div>

      }
    </div>

    }
  </div>
</div>
